@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body{
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;

}

header{
      position: sticky;
      top: 0;
      height: 66px;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.left img{
      width: 32px;
      height: 23px;
}

.container{
      padding: 0 10vw;
      margin: 13px 0px;
}

nav{
      font-size: 12px;
      padding-top: 14px;
}

nav ul li{
      list-style: none;
      padding: 0 12px;
}

.section1{
      background-color: #f2f2f2;
}

.search{
      width: 34vw;
      padding: 7px 17px;
      border: 0.5px solid grey;
      background: #f7f8fd;
      border-radius: 5pxa;
}

.homeImg{
      width: 80vw;
      margin: 12px 0px;
}

.itemImg{
      width: 10vw;
      margin: 6px 12px;
}